<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002889381839-go1kmnt6tseb7vgbrln6rg6aqjij96qf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002889381839-go1kmnt6tseb7vgbrln6rg6aqjij96qf</string>
	<key>API_KEY</key>
	<string>AIzaSyBOvfdqimfxGKkM_hxl4rYOhESa10kTYKc</string>
	<key>GCM_SENDER_ID</key>
	<string>1002889381839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prjDorm</string>
	<key>PROJECT_ID</key>
	<string>dormroom-476af</string>
	<key>STORAGE_BUCKET</key>
	<string>dormroom-476af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002889381839:ios:7360174046c4e9c07cb4ba</string>
</dict>
</plist>